<form action="/<%= @post.id %>" method="post">
  <div>
    <input type="text" name="title" placeholder="Title..." value="<%= @post.title %>">
  </div>
  <div>
    <input type="text" name="img_url" placeholder="Image URL..." value="<%= @post.img_url %>">
  </div>
  <div>
    <input type="text" name="year_released" placeholder="Year released..." value="<%= @post.year_released %>">
  </div>
  <div>
    <textarea name="summary" placeholder="Summary..."><%= @post.summary %></textarea>
  </div>
  <div>
    <input type="submit" value="Add movie">
  </div>
  <% if(@post.id) %>
      <input type="hidden" name="_method" value="PUT">
  <% end %>
</form>
