<h1><%= @post.title %></h1>
<img src="<%= @post.img_url %>" alt="Picture not found">
<h2><i><%= @post.year_released %></i></h2>
<p><%= @post.summary %></p>
<a href="/movies/<%= @post.id %>/edit">Edit</a>
<form action="/<%= @post.id %>" method="post">
  <!-- Send a delete request -->
  <input type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete">
</form>
